{extends layout.latte}

{block title}Slim project{/block}

{block body}
    <div class="border border-dark">
        <p class="text-center">Webová aplikace</p>
        <p class="text-center">Projekt - předmět APV</p>
        <p class="text-center">Adam Přikryl</p>
        <p class="text-center">ZS 2019/2020</p>
    </div>
{/block}