{extends layout.latte}


{block title}Slim project | Update member{/block}

{block body}
    <div class="container">
        <h1>UPDATE MEMBER</h1>
    </div>
    {include membersForm.latte, operation => 'Update'}
{/block}