{extends layout.latte}


{block title}Slim project | Update member{/block}

{block body}
    <div class="container">
        <div class="row justify-content-md-center">
        <h1>UPDATE MEMBER</h1>
        </div>
    </div>
    {include membersForm.latte, operation => 'Update'}
{/block}