{extends layout.latte}


{block title}New member form{/block}

{block body}
    <div class="container">
        <div class="row justify-content-md-center">
            <h1>NEW MEMBER</h1>
        </div>
    </div>
    {include membersForm.latte, operation => 'New'}
{/block}